
<div class="col-md-4 col-sm-12 p-0 mb-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item">
                <i class="fa fa-home"></i> Inicio
            </li>
            <li class="breadcrumb-item active" aria-current="page">Receder</li>
        </ol>
    </nav>
</div>
<article class="col-12 p-0">
    <div class="mb-2 p-0 menu-filtros">
        <button class="d-inline btn btn-secondary br-3" ux-tooltip title="Cargar Documentos" ng-click="cargarDocumentos = !cargarDocumentos">
            <i class="hst hst-cloud-upload"></i>
        </button>
    </div>
</article>
<div class="col-sm-12 p-0" flow-init flow-name="$parent.$flow" flow-files-submitted="flowFilesSubmitted($files, $event, $flow)"
    flow-file-added="flowFileAdded($file, $event, $flow)" flow-file-error="flowFileError($file, $message, $flow)" flow-file-success="flowFileSuccess($file, $message, $flow)"
    flow-complete="flowComplete($flow)">

    <div class="upload-drop-zone" flow-drop ng-class="dropClass" ng-if="cargarDocumentos">
        <div class="p-1 pl-3 title text-left">
            Cargar Documentos
            <button type="button" class="close pr-3" aria-label="Close" ng-click="cerrarCargarDocumentos()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col p-5">
            <div class="row">
                <div class="col" ng-if="!hayDatosDocumentos">
                    <h4 class="text-center">No tiene documentos cargados en la plataforma</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary br-3" flow-btn>
                        <i class="fa fa-plus align-middle"></i>
                        <span class="align-middle">Agregar Documentos</span>
                    </button>
                    <button class="btn btn-primary br-3" flow-btn flow-directory ng-if="$flow.supportDirectory">
                        <i class="fa fa-folder-open align-middle"></i>
                        <span class="align-middle">Agregar Carpeta</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="p-0 mb-2 border border-primary lista-archivos" ng-if="$flow.files.length">
        <div class="col-12 py-2 border-bottom border-primary bg-light">
            <div class="row">
                <div class="col-3">
                    <h5>Archivos para cargar:</h5>
                </div>
                <div class="text-right col">
                    <button class="btn btn-sm btn-secondary br-3" ng-if="erroneos > 0" ng-click="reintentarTodos()">
                        <i class="fa fa-refresh"></i> Reintentar Todos
                    </button>
                    <button class="btn btn-sm btn-secondary br-3" ng-if="erroneos > 0" ng-click="eliminarTodos()">
                        <i class="fa fa-trash-o"></i> Eliminar Todos
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 cont-upload-table pt-2">
            <div class="row">
                <div class="col-4">
                    <span>
                        Nombre Archivo
                    </span>
                </div>
                <div class="col-2 p-0">
                    <span>Tamaño</span>
                </div>
                <div class="col p-0">
                    <span>Progreso</span>
                </div>
                <div class="col-1 p-1 text-center">
                    Acciones
                </div>
            </div>
            <div class="row file align-items-center" ng-repeat-start="file in $flow.files">
                <div class="col-4 text-truncate">

                    <strong>{{file.name}}</strong>

                </div>
                <div class="col-2 p-0">
                    <span>{{file.size | kb | formatMiles}}</span>
                </div>
                <div class="col p-0">
                    <div class="progress m-0">
                        <div class="progress-bar progress-bar-striped" ng-class="{'progress-bar-animated':file.isUploading(), 'error': file.error, 'success': file.ok, 'paused': !file.isUploading() && !file.error && !file.ok}"
                            role="progressbar" ng-style="{width: (file.progress() * 100) + '%'}" ng-click="file.mostrarError = !file.mostrarError"></div>
                    </div>
                </div>
                <div class="col-1 p-1 text-center">
                    <button class="btn-icon" ng-click="file.retry()" ng-if="file.error">
                        <i class="fa fa-refresh align-middle"></i>
                    </button>
                    <button class="btn-icon" ng-click="file.cancel()" ng-if="!file.ok">
                        <i class="fa fa-trash-o align-middle"></i>
                    </button>
                </div>
            </div>
            <div class="row file-info" ng-repeat-end ng-if="file.mostrarError">
                <div class="col pl-3 p-2 alert-warning" ng-if="file.ErrorMessage">{{file.ErrorMessage}}</div>
                <div ng-repeat="error in file.DetalleErrores" class="col-12 pl-3 p-2" ng-class="{'alert-warning': !error.EsExitoso}">
                    <div class="d-inline mr-3">Rut Emisor: <strong>{{error.RutEmisor | rut}}</strong></div>
                    <div class="d-inline mr-3">Folio: {{error.Folio}}</div>
                    <div class="d-inline mr-3">
                        <i class="fa fa-times-circle red" aria-hidden="true"  ng-if="!error.EsExitoso"></i>
                        <i class="fa fa-check-circle green" aria-hidden="true"  ng-if="error.EsExitoso"></i>
                    </div>
                    <div class="d-inline">
                        {{error.Mensaje}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<article ng-if="hayDatosDocumentos">
    <div class="table-responsive">
        <table class="table table-striped table-sortable">
            <thead class="bg-violeta text-white thead-filter">
                <tr>
                    <th class="border-0"></th>
                    <th class="border-0 icon-cell"></th>
                    <th orden="RutCliente">
                        <span>Rut Cliente (receptor)</span>
                    </th>
                    <th orden="NombreCompleto">
                        <span>Nombre/Razón social</span>
                    </th>
                    <th orden="Folio">
                        <span>Folio</span>
                    </th>
                    <th orden="FechaEmision">
                        <span>Fecha Emisión</span>
                    </th>
                    <th orden="MontoTotalPesos">
                        <span>Monto $</span>
                    </th>
                    <th orden="Tipo">
                        <span>Tipo</span>
                    </th>
                    <th orden="Tenedor">
                        <span>Tenedor</span>
                    </th>
                    <th>
                        <span>Info. Adicional de la factura</span>
                    </th>
                    <th>
                        <span>Información Ultima Cesión</span>
                    </th>
                    <th>
                        <span>Factura</span>
                    </th>
                    <th>
                        <span>Nota Crédito/Débito</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in datosDocumentos">
                    <td>
                        <button class="btn-icon" ng-click="confirmarEliminar(item)">
                            <i class="fa fa-trash-o" ux-tooltip title="Eliminar"></i>
                        </button>
                    </td>
                    <td class="icon-cell">
                        <button class="btn-icon" ng-click="reemplazarDocumento(item)">
                            <i class="fe-ico-reemplazar-documento" ux-tooltip title="Reemplazar"></i>
                        </button>
                    </td>
                    <td class="text-left text-nowrap">{{item.RutCliente | rut}}</td>
                    <td class="text-left">{{item.NombreCompleto}}</td>
                    <td class="text-center">{{item.Folio}}</td>
                    <td class="text-center">{{item.FechaEmision}}</td>
                    <td class="text-right">{{item.MontoTotalPesos | formatMiles}}</td>
                    <td class="text-center">
                        <label class="br-5 pl-2 pr-2" ng-class="item.Tipo.toLowerCase()">{{item.Tipo}}</label>
                    </td>
                    <td class="text-center">{{item.Tenedor}}</td>
                    <td class="text-center">
                        <ux-info-factura class="hst hst-information cursor" info="item.InfoAdicionalFactura" ng-if="item.InfoAdicionalFactura"></ux-info-factura> 
                    </td>
                    <td class="text-center">
                        <ux-info-cesion class="hst hst-information cursor" info="item.InfoUltimaCesion" ng-if="item.InfoUltimaCesion"></ux-info-cesion>
                    </td>
                    <td class="text-center">
                        <ux-download icon="pdf" tipo="item.TipoDocumentoFactura" id="item.IDDocumento"></ux-download>
                    </td>
                    <td class="text-center">
                        <ux-download icon="pdf" tipo="item.TipoDocumentoNotaCredito" id="item.IDNotaCredito"></ux-download>
                    </td>
                </tr>
                <tr ng-if="busquedaSinCoincidencias">
                    <td colspan="12" class="text-center alert-warning p-2">
                        <span>No existen documentos en el repositorio</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ux-pagination ng-model="Paginacion" load="obtenerDocumentos()"></ux-pagination>
</article>