<div class="col-md-4 col-sm-12 p-0 mb-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item">
                <i class="fa fa-file"></i> Receder
            </li>
        </ol>
    </nav>
</div>
<article class="col-12 p-0">
    <div class="table-responsive">
        <table class="table table-striped table-sortable">
            <thead class="bg-violeta text-white thead-filter">
                <tr>
                    <th orden="RutCliente">
                        <span>Rut Cliente (receptor)</span>
                    </th>
                    <th orden="NombreCompleto">
                        <span>Nombre/Razón social</span>
                    </th>
                    <th orden="Folio">
                        <span>Folio</span>
                    </th>
                    <th orden="FechaEmision">
                        <span>Fecha Emisión</span>
                    </th>
                    <th orden="FechaVencimientoNegocio">
                        <span>Fecha Vencimiento Factoring</span>
                    </th>
                    <th orden="MontoTotalPesos">
                        <span>Monto $</span>
                    </th>
                    <th orden="Tipo">
                        <span>Tipo</span>
                    </th>
                    <th orden="Tenedor">
                        <span>Tenedor</span>
                    </th>
                    <th>
                        <span>Info. Adicional de la factura</span>
                    </th>
                    <th>
                        <span>Información Ultima Cesión</span>
                    </th>
                    <th>
                        <span>Factura</span>
                    </th>
                    <th>
                        <span>Nota Crédito/Débito</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in datosFacturas">
                    <td class="text-left text-nowrap">{{item.RutCliente | rut}}</td>
                    <td class="text-left">{{item.NombreCompleto}}</td>
                    <td class="text-center">{{item.Folio}}</td>
                    <td class="text-center">{{item.FechaEmision}}</td>
                    <td class="text-center">{{item.FechaVencimientoNegocio}}</td>
                    <td class="text-right">{{item.MontoTotalPesos | formatMiles}}</td>
                    <td class="text-center">
                        <label class="br-5 pl-2 pr-2" ng-class="item.Tipo.toLowerCase()">{{item.Tipo}}</label>
                    </td>
                    <td class="text-center">{{item.Tenedor}}</td>
                    <td class="text-center">
                        <ux-info-factura class="hst hst-information cursor" info="item.InfoAdicionalFactura" ng-if="item.InfoAdicionalFactura"></ux-info-factura> 
                    </td>
                    <td class="text-center">
                        <ux-info-cesion class="hst hst-information cursor" info="item.InfoUltimaCesion" ng-if="item.InfoUltimaCesion"></ux-info-cesion>
                    </td>
                    <td class="text-center">
                        <ux-download icon="pdf" tipo="item.TipoDocumentoFactura" id="item.IDDocumento"></ux-download>
                    </td>
                    <td class="text-center">
                        <ux-download icon="pdf" tipo="item.TipoDocumentoNotaCredito" id="item.IDNotaCredito"></ux-download>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-secondary br-3" ng-click="recederDocumento(item)">Receder</button>
                    </td>
                </tr>
                <tr ng-if="!hayDatosFacturas">
                    <td colspan="13" class="text-center alert-warning p-2">
                        <span>No existen Facturas para re-ceder</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ux-pagination ng-model="Paginacion" load="obtenerFacturas()"></ux-pagination>
</article>