
	<div class="container p-0 error-page">
		<div class="alert alert-danger mb-0 p-3">
				<i class="fa fa-times-circle pr-2"></i> Algo ha salido mal.
		</div>
		<div class="error-page-content p-3 text-center">
				Es posible que se haya generado una Excepción, 
				favor volver a intentar. 
				<br>En caso de que el problema persista contactarse con el administrador.
		</div>
	</div>
