<div class="modal-header">
    <h5 class="modal-title" ng-if="!esAgregarNotaCredio">Reemplazar Documento - Folio {{documento.Folio}}</h5>
    <h5 class="modal-title" ng-if="esAgregarNotaCredio">Agregar Nota de Crédito/Débito - Folio {{documento.Folio}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="volver()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div flow-init="$flowInit" flow-name="$parent.$flow" flow-files-submitted="flowFilesSubmitted($files, $event, $flow)"
        flow-file-added="flowFileAdded($file, $event, $flow)" flow-file-error="flowFileError($file, $message, $flow)" flow-file-success="flowFileSuccess($file, $message, $flow)"
        flow-complete="flowComplete($flow)">

        <div class="reemplazar-documento col-12" ux-validar="$parent">
            <div class="row mb-2">
        
                <div class="col-10">
                    <div>
                        <strong>Documento</strong>
                    </div>
                    <div>
                        <div class="input-file">
                            <input class="align-middle" type="text" ng-model="modelo.documento.name" readonly required/>
                            <button class="btn btn-sm btn-primary mr-1" flow-btn>
                                <i class="fa fa-search"></i> Seleccionar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-right">
                    <button class="btn btn-sm btn-primary mt-3 btn-carga" ng-click="subirDocumento()">
                        <i class="fa fa-upload"></i> Cargar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    
</div>