<div class="modal-header">
    <h5 class="modal-title">Receder Documento - Folio {{documento.Folio}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="volver()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" ux-validar>
    <div class="row mb-2">
        <div class="col-4">
            <div>
                <strong>Tipo Recesión</strong>
            </div>
            <div>
                <select class="p-1 w-100" ng-model="recesion.TipoRecesion" ng-options="op.ID as op.Nombre for op in ListaTipoRecesion" required></select>
            </div>
        </div>
    </div>
    <div ng-if="recesion.TipoRecesion == 2">
        <div class="row mb-2">
            <div class="col-4">
                <div>
                    <strong>Rut</strong>
                </div>
                <div>
                    <input class="w-100 form-control" type="text" ng-model="recesion.Cliente.Rut" ux-rut ng-keyup="obtenerDatosCliente($event)" ng-blur="obtenerDatosCliente($event)" ux-validar-tipo="rut" required/>
                </div>
            </div>
            <div class="col-8">
                <div>
                    <strong>Dirección</strong>
                </div>
                <div>
                    <input class="w-100 form-control" type="text" ng-model="recesion.Cliente.DireccionContacto" required/>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <div>
                    <strong>Razón Social</strong>
                </div>
                <div>
                    <input class="w-100 form-control" type="text" ng-model="recesion.Cliente.NombreCompleto" required/>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <strong>E-Mail</strong>
                </div>
                <div>
                    <input class="w-100 form-control" type="text" ng-model="recesion.Cliente.EmailContacto" ux-validar-tipo="email" required/>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <strong>Último Vencimiento</strong>
                </div>
                <div>
                    <input class="form-control" type="text" ng-model="recesion.UltimoVencimiento" ux-datepicker required min-date="fechaActual"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="recederDocumento()" class="btn btn-primary">Aceptar</button>
</div>