@import 'bootstrap-slider/src/sass/bootstrap-slider';

.slider {
    &.slider-horizontal {
        @media (max-width: 575.98px) {
            width: 50%;
        }
        width: 90%;
        height: 20px;
        left: 6%;

        .slider-track {
            top: 5px;
            background-color: $blanco;
            background-image: none;
            border: 1px solid $gray-400;
        }
        .slider-selection {
            margin-left: -5px;
            background-color: #dbd7e3;
            background-image: none;
            border: 1px none #000;
        }
    }

    .slider-handle {
        background-color: #6A2E92;
        background-image: none;
        position: absolute;
        top: -1px;
        width: 12px;
        height: 12px;
        background-color: #6A2E92;
        border: 0px solid transparent;
        cursor: pointer;
    }
}