.btn-descarga {
    height: 30px;
    &.btn-label {
        span {
            margin-right: 12px;
        }
        .fe-downloading {
            margin-left: -7px;
        }
    }
    i {
        &.fe-downloading {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
            background-image: $icon-loading;
            vertical-align: bottom;
        }
    }
}