.pagination {
    font-size: 0.9rem;
    .page-item {
        &.active {
            .page-link {
                &:hover {
                    background-color: $purple;
                }
            }
        }
        .page-link {
            padding: 0.20rem 0.55rem;
            &:not(:focus){
                z-index: initial;
            }
            &:hover {
                background-color: $gray-300;
            }
            &:disabled {
                color: $gray-500;
                background-color: $gray-100;
            }
            &:focus{
                box-shadow: 0 0 0 0.2rem #c9c4c4;
            }
        }
    }
    .previous {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .next {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}