@font-face {
    font-family: 'factoring-electronico';
    src : url('#{$icomoon-font-path}/factoring-electronico.eot?636jlf');
    src : url('#{$icomoon-font-path}/factoring-electronico.eot?636jlf#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/factoring-electronico.ttf?636jlf') format('truetype'),
    url('#{$icomoon-font-path}/factoring-electronico.woff?636jlf') format('woff'),
    url('#{$icomoon-font-path}/factoring-electronico.svg?636jlf#factoring-electronico') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fe-"],
[class*=" fe-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'factoring-electronico' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
    @return unquote("\"")+$str+unquote("\"");
}

.fe-ico-add-date {
    &:before {
        content: unicode($fe-ico-add-date);
    }
}

.fe-ico-reemplazar-documento {
    &:before {
        content: unicode($fe-ico-reemplazar-documento);       
    }
}

.fe-ico-angle-to-right {
    &:before{
        font-size: 12px;
        content: unicode($fe-ico-angle-to-right);
    }
}
.fe-ico-angle-to-left {
    &:before{
        font-size: 12px;
        content: unicode($fe-ico-angle-to-left);
    }
}