//Iconos HST
.hst-cloud-upload,
.hst-document-search,
.hst-note-add {
    font-size: 1.56rem;
}
.hst-information,
.hst-document-file-pdf,
.hst-trash-can,
.hst-paperclip {
  /* font-size: 1.5rem !important;*/
}
.table .hst{
    font-size: 1.3rem !important;
}
.fe-ico-reemplazar-documento {
    font-size: 1.2rem !important;
}
.fa-check {
    color: #468F2B;
}
.fa-times {
    
} //Enlace Iconos que están en la tabla
.enlace-icono {
    color: #333333;
    display: block;
    text-align: center;
    width: 24px;
    height: 36px;
    position: relative;
    &:hover {
        text-decoration: none;
    }
    .fe-ico-reemplazar-documento {
        position: absolute;
        bottom: 2px;
        left: -50%;
        right: -50%;
        line-height: 1.5;
    }
}


//Style para iconos de ico moon
.btn-add-date {
    padding: 0.57rem 0.75rem 0.63rem !important;
}


//color de iconos
.facebook {
    color: #294883 !important;
}

.youtube {
    color: #FF0017 !important;
}

.twitter {
    color: #00B2FF !important;
}




.dte {
    font-size: 75%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.aec {
    font-size: 75%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    background-color: #EFA31D;
    color: white;
}