$icon-size : 20px;

i.fe-loading {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    background-repeat: no-repeat;
    background-position: center;
    background-size: $icon-size;
    background-image: $icon-loading;
    vertical-align: bottom;
}