/*
animaciones para dropdown con checkbox estilo switch
*/
.dropdown-switch {
    .dropdown-menu {
        &.ng-enter {
            transition: all .25s ease-out;
            max-height: 0px;
            opacity:0;
        }
        &.ng-enter-active {
            max-height: 300px;
            opacity: 1;
        }
        &.ng-leave {
            transition: all .25s ease-in;
            max-height: 300px;
            opacity:1;
        }
        &.ng-leave-active {
            max-height: 0px;
            opacity:0;
        }
    }
}

/*
animaciones para filtros agregados / quitados del panel de filtros del usuario
*/
.filter-component {
    &.ng-enter,
    &.ng-leave {
        transition:all linear .25s;
    }

    &.ng-enter {
        opacity:0;
        &.ng-enter-active {
            opacity:1;
        }
    }

    &.ng-leave {
        opacity: 1;
        max-height: 30px;
        &.ng-leave-active {
            opacity:0;
            max-height: 0;
        }
    }
}

/*
animaciones para el panel de filtros
*/
.filtros .panel-filtros {
    &.ng-hide-add {
        transform: rotateX(0);
        transform-origin: left;
        transition: all 0.5s ease-out;
        opacity: 1;
        max-height: 900px;
        margin-bottom: 6px;
        &.ng-hide-add-active {
            opacity: 0;
            max-height: 0;
            margin-bottom: 0;
            transform: rotateX(90deg);
        }
    }
    &.ng-hide-remove {
        transform: rotateX(90deg);
        transform-origin: left;
        transition: all .5s ease-out;
        opacity: 0;
        max-height: 0;
        margin-bottom: 0;
        &.ng-hide-remove-active {
            margin-bottom: 6px;
            max-height: 900px;
            transform: rotateX(0);
            opacity: 1;
        }
    }
}

/*
animaciones para la area del drag n drop para subida de archivos
y para los archivos listados en la carga
*/
.upload-drop-zone,
.lista-archivos {
    &.ng-enter {
        transform: rotateX(90deg);
        transform-origin: left;
        transition: all .5s ease-out;
        opacity: 0;
        max-height: 0;
        margin-bottom: 0;
        &.ng-enter-active {
            margin-bottom: 6px;
            max-height: 900px;
            transform: rotateX(0);
            opacity: 1;
        }
    }
    &.ng-leave {
        transform: rotateX(0);
        transform-origin: left;
        transition: all 0.5s ease-out;
        opacity: 1;
        max-height: 900px;
        margin-bottom: 6px;
        &.ng-leave-active {
            opacity: 0;
            max-height: 0;
            margin-bottom: 0;
            transform: rotateX(90deg);
        }
    }
    .file {
        &.ng-leave {
            transform: rotateY(0);
            transform-origin: left;
            transition: all .5s ease-out;
            opacity: 1;
            color: $verde;
            &.ng-leave-active {
                transform: rotateY(45deg);
                opacity: 0;
            }
        }
    }
}


/*
Animaciones para fecha de vencimientos
*/
.fecha-vencimiento{
    &.ng-enter {
        transform: rotateX(90deg);
        transform-origin: left;
        transition: all .5s ease-out;
        opacity: 0;
        max-height: 0;
        margin-bottom: 0;
        &.ng-enter-active {
            margin-bottom: 6px;
            max-height: 900px;
            transform: rotateX(0);
            opacity: 1;
        }
    }
    &.ng-leave {
        transform: rotateX(0);
        transform-origin: left;
        transition: all 0.5s ease-out;
        opacity: 1;
        max-height: 900px;
        margin-bottom: 6px;
        &.ng-leave-active {
            opacity: 0;
            max-height: 0;
            margin-bottom: 0;
            transform: rotateX(90deg);
        }
    }
}


/*
Animaciones para fecha de vencimientos
*/
.cargar-certificado{
    &.ng-enter {
        transform: rotateX(90deg);
        transform-origin: left;
        transition: all .5s ease-out;
        opacity: 0;
        max-height: 0;
        margin-bottom: 0;
        &.ng-enter-active {
            margin-bottom: 10px;
            max-height: 900px;
            transform: rotateX(0);
            opacity: 1;
        }
    }
    &.ng-leave {
        transform: rotateX(0);
        transform-origin: left;
        transition: all 0.5s ease-out;
        opacity: 1;
        max-height: 900px;
        margin-bottom: 10px;
        &.ng-leave-active {
            opacity: 0;
            max-height: 0;
            margin-bottom: 0;
            transform: rotateX(90deg);
        }
    }
}