body {
    overflow-y: auto;
    font-family: 'titillium_webregular';
    @media (max-width: 575.98px) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        footer {
            padding-left: 0rem !important;
            padding-right: 0rem !important;
        }
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        .navbar-nav .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
}

.nav-item {
    .nav-link {
        white-space: nowrap;
    }
}

/*
fix para poner anclas con cursor 'hand', esto es así porque hay anclas sin href los cuales
aparecerán sin cursor 'hand', los anclas están sin href ya que las acciones se hacen con ng-click, 
pero no se deja con href="#", href="javascript:;", href="javascript:void(0)"
puesto que provocan errores en ie (unsafe javascript) en el caso del # no provoca errores
pero cambia la url.
*/
a {
    cursor: pointer;
}

.hide {
    display: none;
}

.title {
    background-color: #f6f4f7;
}

.cursor {
    cursor: pointer;
}

.bs-component {
    position: relative
}

.bs-component+.bs-component {
    margin-top: 1rem
}

.bs-component .card {
    margin-bottom: 1rem
}

.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block
}

.bs-component .modal-dialog {
    width: 90%
}

.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px
}

#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: bold
}

.dropdown-menu.show[aria-labelledby="themes"] {
    display: flex;
    width: 420px;
    flex-wrap: wrap
}

.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item {
    width: 33.333%
}

.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item:first-child {
    width: 100%
}

.nav-tabs {
    margin-bottom: 15px
}

.progress {
    margin-bottom: 10px
}

table .progress {
    margin: 0px !important;
}

.navbar {
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.75);
    padding: 0.5rem 1rem;
}

.page-header {
    padding-top: 120px;
} // ::::Framework style purple::::
// basic input
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=search],
input[type=tel],
select,
textarea,
.form-select_field {
    color: #505964; //background-color: transparent;
    border-radius: 3px;
    border: 1px solid #6A2E92;
} // fin basic input
.ui-header {
    -webkit-box-shadow: 1px 2px 1px 1px #E3E5EF;
    box-shadow: 1px 2px 1px 1px #E3E5EF;
}

.ui-buttons .button {
    margin: 1.125em 0;
}

.ui-button-content small {
    color: #505964;
    display: block;
    font-size: 0.7023319616em;
    margin-top: -5px;
}

.ui-input-field {
    margin-bottom: 30px;
}

.ui-color {
    margin: 0 0 30px;
    position: relative;
    padding-left: 60px;
}

.ui-color:before,
.ui-color:after {
    content: " ";
    display: table;
}

.ui-color:after {
    clear: both;
}

.ui-color_circle {
    background-color: transparent;
    border-radius: 50%;
    display: block;
    height: 60px;
    width: 60px;
    float: left;
    position: relative;
    margin-left: -60px;
}

.ui-color_circle:after {
    content: "";
    background: #FFFFFF;
    -webkit-box-shadow: 0 8px 14px 0 rgba(168, 183, 199, 0.5);
    box-shadow: 0 8px 14px 0 rgba(168, 183, 199, 0.5);
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.ui-color_content {
    color: #505964;
    display: block;
    margin-left: 15px;
}

.ui-color_title {
    font-weight: bold;
}

.ui-tool {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 10;
}

.ui-glyphs {
    margin: 0 0 40px 0;
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
    li {
        margin: 0 30px 20px 0;
        padding: 0;
        display: inline-block;
        overflow: hidden;
    }
    .icon {
        margin: 0;
        margin-right: 10px;
        padding: 5px 13px;
        height: 50px;
        width: 50px;
        color: #162a36 !important;
        overflow: hidden;
        float: left;
        font-size: 24px;
    }
    input {
        width: 150px;
        height: 40px;
        float: right;
    }
}

.background-dark {
    .ui-button-content {
        small {
            color: rgba(255, 255, 255, 0.7) !important;
        }
    }
    .ui-glyphs {
        .icon {
            color: #FFFFFF !important;
        }
    }
}

.background-dark h1,
.background-dark h2 {
    color: #FFFFFF;
}

.glyphs.css-mapping {
    margin: 0 0 40px 0;
    color: rgba(0, 0, 0, 0.5);
    li {
        margin: 0 30px 20px 0;
        padding: 0;
        display: inline-block;
        overflow: hidden;
    }
    .icon {
        margin: 0;
        margin-right: 10px;
        padding: 13px;
        height: 50px;
        width: 50px;
        color: #162a36 !important;
        overflow: hidden;
        float: left;
        font-size: 24px;
    }
    input {
        width: 150px;
        height: 40px;
        float: right;
    }
}

.close {
    &:focus {
      outline: none;
    }
    margin-top: -2px;
}

.bg-violeta {
    background-color: $violeta;
}

.bg-violeta-hover {
    background-color: $violeta-hover;
}

.bg-verde {
    background-color: $verde;
}

.bg-verde-hover {
    background-color: $verde-hover;
}

.bg-naranja {
    background-color: $naranja;
}

.bg-naranja-hover {
    background-color: $naranja-hover;
}

.bg-celeste {
    background-color: $celeste;
}

.bg-celeste-hover {
    background-color: $celeste-hover;
}

.bg-rojo {
    background-color: $rojo;
}

.bg-rojo-hover {
    background-color: $rojo-hover;
}

.bg-azul {
    background-color: $azul;
}

.bg-azul-hover {
    background-color: $azul-hover;
}

.bg-footer {
    background-color: $footer;
} // Colores Auxiliares
.bg-gris-texto {
    background-color: $gris-texto;
}

.bg-gris-texto-secundario {
    background-color: $gris-texto-secundario;
}

.bg-gris-prefooter {
    background-color: $gris-prefooter;
}

.bg-amarillo-alertas {
    background-color: $amarillo-alertas;
}

.bg-violeta-secundario {
    background-color: $violeta-secundario;
}

.bg-submenu-mobile {
    background-color: $submenu-mobile;
}

.bg-menu-mobile {
    background-color: $menu-mobile;
}

.bg-facebook {
    background-color: $facebook;
}

.bg-instagram {
    background-color: $instagram;
}

.bg-twitter {
    background-color: $twitter;
}

.bg-blanco {
    background-color: $blanco;
}

.bg-blanco-hover {
    background-color: $blanco-hover;
} // Colores Gradientes
.bg-grupo-gradiente {
    background-image: $grupo-gradiente;
}

.bg-factoring-gradiente {
    background-image: $factoring-gradiente;
}

.bg-corredora-gradiente {
    background-image: $corredora-gradiente;
}

.bg-travel-inmobiliaria-gradiente {
    background-image: $travel-inmobiliaria-gradiente;
}

.bg-inversiones-gradiente {
    background-image: $inversiones-gradiente;
} // Colores con opacidad Alfa
.bg-grupo-alfa-gradiente {
    background-image: $grupo-alfa;
}

.bg-factoring-alfa {
    background-image: $factoring-alfa;
}

.bg-inmobiliaria-alfa {
    background-image: $inmobiliaria-alfa;
}

.bg-inversiones-alfa {
    background-image: $inversiones-alfa;
}

.bg-travel-alfa {
    background-image: $travel-alfa;
}

.bg-corredora-alfa {
    background-image: $corredora-alfa;
}

.bg-ayuda {
    background-color: $fondo-ayuda;
}

.bg-misdatos {
    background-color: $fondo-misdatos;
}

.count {
    position: absolute;
    left: 50%;
    width: 1rem;
    height: 1rem;
    font-size: 75%;
    top: 5px;
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
    border-radius: 100%;
    background: rgb(255, 0, 23);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.btn {
    &:focus,
    &:active,
    &:active:focus,
    &.active:focus {
        outline: none;
    }
    &-secondary {
        background-color: $white;
        border-color: $primary;
        color: $primary;
        &:hover {
            background-color: $primary;
            color: $white;
        }
        &.disabled {
            background-color: $white;
            border-color: lighten(#ccc, 5%);
            color: lighten($gray-900, 5%);
        }
    }
    &-warning {
        color: $white;
    }
    &-primary:focus {
        box-shadow: 0 0 5px lighten($primary, 10%);
    }
    &-secondary:focus {
        box-shadow: 0 0 5px $gray-400;
    }
    &-success:focus {
        box-shadow: 0 0 5px lighten($success, 10%);
    }
    &-info:focus {
        box-shadow: 0 0 5px lighten($info, 10%);
    }
    &-warning:focus {
        box-shadow: 0 0 5px lighten($warning, 10%);
    }
    &-danger:focus {
        box-shadow: 0 0 5px lighten($danger, 10%);
    }
    &.disabled:focus {
        box-shadow: none;
    }
}

td.details-control {
    text-align: center;
    color: forestgreen;
    cursor: pointer;
}

tr.shown td.details-control {
    text-align: center;
    color: red;
}

.stactive {
    background-color: $verde;
}

fieldset {
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid $violeta;
    font-size: 0.75rem;
    .table {
        thead {
            th {
                color: #444;
                background-color: #F5F7FA !important;
                font-size: 18px;
                padding: .0rem .0rem !important;
            }
            td {
                padding: .0rem .0rem !important;
            }
        }
        tbody {
            td {
                padding: .0rem .0rem !important;
            }
        }
    }
}

.navbar {
    box-shadow: none;
}

.logo {
    width: 20rem;
}

.menu {
    margin-bottom: -15px;
}

.br-3 {
    border-radius: 3px;
}

.br-5 {
    border-radius: 5px;
}

.btn-accesoss-home {
    color: $white;
    text-align: center;
    font-family: 'titillium_webextralight';
    font-size: 1rem;
    padding: 1.5rem;
    i {
        font-size: 4rem;
    }
    &:hover {
        border: 1px solid #221f73;
        background-color: $white !important;
        color: #221f73;
    }
}

.progress {
    border-radius: 3px;
    .progress-bar {
        width: 100%;
        padding-right: 0px;
    }
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

/* layout.css Style */

/* skin.css Style*/

legend {
    padding: 0px 5px;
    width: auto;
    font-size: 0.75rem;
    margin: 0;
}

.nav-link {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.nav-link.active {
    color: $primary !important;
}

.breadcrumb {
    background-color: transparent;
}

strong {
    font-family: 'titillium_webbold';
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.menu-filtros .btn i {
    font-size: 2.0rem;
    line-height: 1.0;
}

.menu-filtros .btn {
    padding: 0.2rem 0.5rem;
    line-height: 1.2;
}

.dropdown-item {
    &:hover,
    &:focus {
        color: #fff !important;
    }
    
    &.active,
    &:active {
        background-color: #c1c0c2;
    }
}

.mw-20 {
    max-width: 20%;
}

.mw-25 {
    max-width: 25%;
}

.mw-35 {
    max-width: 35%;
}

.mw-50 {
    max-width: 50% !important;
}

.mw-75 {
    max-width: 75%;
}

.thead-filter {
    font-size: 12px;
    span {
        word-wrap: break-word;
        display: inline !important;
    }
    i {
        padding-left: 5px;
        display: inline !important;
    }
}

.cont-upload-table {
    max-height: 250px;
    overflow-y: auto;
}

.table th {
    padding: 0.2rem 0.75rem;
    font-family: 'titillium_weblight';
    text-align: center;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
    padding: 0.1rem 0.75rem;
    font-size: 0.75rem;
    .form-control{
        font-size: 0.7rem;
        padding: 0.3rem;
    }
}

.table .child-table {
    tr {
        background-color: transparent !important;
    }
}

.itemSelected{ 
    background-color: #DAE9D5 !important;
}

.th-link {
    cursor: pointer;
}

.th-link:hover {
    text-decoration: underline;
}

.btn-icon {
    border: none;
    &:not(:disabled) {
        cursor: pointer;
    }
    background-color: transparent;
    &:hover {
        color: #6A2E92;
    }
}

select {
    border: 1px solid #6A2E92 !important;
}

.form-group {
    label {
        margin-bottom: 1px;
        font-size: 0.775rem;
    }
    select {
        min-width: 8.48rem;
    }
}

.btn-resumen {
    @media (max-width: 575.98px) {
        display: flex !important;
        justify-content: space-around !important;
    }
}


.popover-body {
    width: 300px;
    max-width: 300px;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.site-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #333d47;
}

/*************/

.btn-secondary.disabled,
.btn-secondary:disabled {
    background-color: $white;
    border-color: $black;
    opacity: 0.3;
    &:hover {
        color: $black;
    }
}

.breadcrumb {
    margin: 0;
    padding: 0;
}

/**** select custom ****/

.custom-select {
    font-size: 0.7rem;
    padding: 5%;
    background: none;
    width: 110%;
    height: 1.50rem;
}

.cargar-certificado,
.reemplazar-documento {
    border: #6A2E92 solid 1px;
    background-color: #E6E6E6;
    margin-bottom: 10px;
    padding-top: 6px;
    font-size: 12px;

    .title {
        margin-top: -6px;
    }
    
    .form-group {
        margin-bottom: .2rem;
    }
    .input-group-text{
        background-color: transparent;
        border:none;
    }

    .input-file {
        width: auto;
        input {
            width: 80%;
            display: inline;
            &[readonly] {
                background-color: white;
            }
        }
    }
   
    input {
        height: 1.7rem; 
        font-size: 12px;
    }
    input[type=email]{
        width: 100%;
    }
    .btn-carga {
        width: 80px;
    }
}

//carga certificado por modal
.modal-content {
    .cargar-certificado {
        .input-file {
            input {
                width: 235px;
            }
        }
    }
}

// grilla en modales 
.modal-content {
    .table {
        tr:last-child {
            border: 1px solid #eaeaea;
        }
    }
    .table-sortable {
        border-right: 1px dotted #eaeaea;
        border-left: 1px dotted #eaeaea;
        thead {
            th {
                padding: 8px 10px;
                &.asc:after, &.asc:hover:after {
                    border-bottom: 5px solid #000;
                }
                &.desc:after {
                    border-top: 5px solid #000;
                }
            }
        }
    }
    .pagination-box {
        margin-left: -30px;
    }
}

/*
    revisión y actualización por websocket
*/
.progress-bar-enviar-negocio {
    &.paused {
        background-color: transparent!important;
    }
    &.completed {
        background-color: $verde;
    }
}
.table-revision {
    tr {
        &.error {
            background-color: #ff9f9f!important;
        }
        &.exitoso {
            background-color: #adffb2!important;
        }
    }
    tr:nth-of-type(even) {
        &.error {
            background-color: #fe7c7c!important;
        }
        &.exitoso {
            background-color: #92ee97!important;
        }
    }
    tr.detalle-validacion {
        background-color: rgba(0, 0, 0, 0.05)!important;
    }
    .fa {
        font-size: 1.2rem;
        &.fa-check {
            color: green;
        }
        &.fa-times {
            color: red;
        }
        &.fa-clock-o {
            color: #999;
        }
        &.fa-eye {
            color: red;
        }
    }
    table {
        width: 100%;
        tr {
            background-color: $blanco;
        }
    }
}

/*
    tabla resumen
*/
.table-resumen {
    width: 100%;
    th {
        &:last-child{
            width: 40%;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid $gray-200;
            td {
                white-space: nowrap;
            }
        }
    }
    &.derecha {
        th {
            &:last-child {
                width: 10%;
            }
        }
    }
}

.button-link{
    &:focus,
    &:active,
    &:active:focus,
    &.active:focus {
        outline: none;
        box-shadow: none;
    }
    &:hover {
        text-decoration: underline;
    }
    cursor: pointer;
    background-color: transparent;
    color: $primary;
    padding: 0;
    border: none;
}

input::-ms-clear {
    display: none;
}

.iconColor {
    color: #593196;
}