.error-page {
    .alert-danger {
        background-color: #fff2f2;
    }
    .fa-times-circle {
        color: red;
        font-size: 20px;
    }
    .error-page-content {
        border: 1px solid #ddd;
        border-top: none;
    }
}