@font-face {
    font-family: 'titillium_webbold';
    src: url('#{$icomoon-font-path}/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('#{$icomoon-font-path}/titilliumweb-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webitalic';
    src: url('#{$icomoon-font-path}/titilliumweb-italic-webfont.woff2') format('woff2'),
         url('#{$icomoon-font-path}/titilliumweb-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_weblight';
    src: url('#{$icomoon-font-path}/titilliumweb-light-webfont.woff2') format('woff2'),
         url('#{$icomoon-font-path}/titilliumweb-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webextralight';
    src: url('#{$icomoon-font-path}/titilliumweb-extralight-webfont.woff2') format('woff2'),
         url('#{$icomoon-font-path}/titilliumweb-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webregular';
    src: url('#{$icomoon-font-path}/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('#{$icomoon-font-path}/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}