<div class="modal-title alert-warning mb-0 p-3">
	<h6 class="m-0">
		<i class="fa fa-exclamation-triangle pr-2"></i>
		{{$title}}
	</h6>
</div>
<div class="modal-body" ng-bind-html="$message"></div>
<div class="modal-footer">
	<button ng-click="aceptar()" class="btn btn-primary">Aceptar</button>
</div>