<div class="modal-title mb-0 p-3" ng-class="{'alert-confirm': isConfirm}">
	<h6 class="m-0">
		<i class="fa fa-question-circle pr-2" ng-if="isConfirm"></i>
		<i class="fa fa-exclamation-circle pr-2" ng-if="!isConfirm"></i>
		{{$title}}
	</h6>
</div>
<div class="modal-body" ng-bind-html="$message"></div>
<div class="modal-footer">
	<button ng-click="aceptar()" class="btn btn-primary">Aceptar</button>
	<button ng-click="cancelar()" class="btn btn-secondary" ng-if="isConfirm">Cancelar</button>
</div>