@import 'node_modules/@ns-angularjs/modal/dist/sass/main';


.page-item.active{
    z-index: 0 !important;
}
.sbj_modal-container {
    .sbj_modal-alert,
    .sbj_modal-confirm {
        .sbj_modal-content {
            width:450px !important;
            border:1px solid #999;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
            .modal-title {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid #bdebcf;
                font-weight: bold;
                background-color: #eefdf2;
            }
            .alert-confirm {
                background-color: #f7f1ff;
                border-color: #e3dbef;
            }
            .alert-success{
                background-color: #eefdf2;
            }
            .alert-danger {
                background-color: #fff2f2;
            }
            .alert-warning {
                color: #7c550f;
                background-color: #fff9ee;
                border-color: #fbe5c0;
            }
            .fa {
                font-size: 20px;
            }
            .fa-exclamation-triangle {
                color: orange;
            }
            .fa-info-circle {
                color: blue;
            }
            .fa-times-circle {
                color: red;
            }
            .fa-check-circle,
            .fa-question-circle,
            .fa-exclamation-circle  {
                color: green;
            }
        }
    }
}