.upload-drop-zone {
    border-style: dashed;
    border-color: #7A838A;
    border-width: 2px;
    margin-bottom: 6px;
    text-align: center;
    background-color: #E9E9E9;
    &.drop {
        color: #222;
        border-color: #222;
    }
    &.drag-over {
        border-width: 4px;
        border-color: $violeta;
    }
}
.row {
    &.file {
        border-bottom: 1px solid $gray-400;
        .progress {
            .progress-bar {
                &.error {
                    background-color: $red;
                    cursor: pointer
                }
                &.success {
                    background-color: $verde
                }
                &.paused {
                    background: transparent!important;
                }
            }
        }
    }
    &.file-info {
        .fa-times-circle {
            color: $red;
        }
        .fa-check-circle {
            color: $verde
        }
    }
}

.cargar-certificado {
    .progress-bar {
        &.error {
            background-color: $red;
        }
        &.success {
            background-color: $verde
        }
        &.paused {
            background: transparent!important;
        }
    }
}