.table-sortable > thead > tr > th {
    position: relative;
    border-right: 1px dotted #eaeaea;
    font-family: 'titillium_webbold';
    padding: 0px 10px;
    vertical-align: middle;
    height: 30px;
    cursor: default;
    @include no-select;
    &[orden] {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .table-sortable > thead > tr > th:after,
  .table-sortable > thead > tr > th:after,
  .table-sortable > thead > tr > th:after {
    cursor: pointer;
    content: ' ';
      position: absolute;
    height: 0;
    width: 0;
    right: 5px; /* (right padding / 2) - arrow width */
    top: 16px; /* ((padding * 2) + line height) - arrow height */
    /** As pointed out by Dave Everitt in 
     * https://css-tricks.com/snippets/css/css-triangle/
     * The arrow is not an equilateral triangle.
     * the height is 86.6% of the width.
     * Notice the above code does not subract the border 
     * width exactly. It is subtracting
     * (rounded) border width * 86.6%
     **/
  }
  
  /* Default sortable indicator */
  // .table-sortable > thead > tr > th:after {
  //   border-left: 5px solid transparent;
  //     border-right: 5px solid transparent;
  //     border-top: 5px solid #ccc;
  //   border-bottom: 0px solid transparent;
  // }
  /* !Default */
  
  /* Default sortable indicator:hover */
  .table-sortable > thead > tr > th:hover:after {
      border-top: 5px solid #fff;
  }
  /* !Default:hover */
  
  /* Ascending sortable indicator */
  .table-sortable > thead > tr > th.asc:after {
    border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    border-top: 0px solid transparent;
      border-bottom: 5px solid #ccc;
  }
  .table-sortable > thead > tr > th.asc:hover:after {
      border-bottom: 5px solid #fff;
  }
  /* !Ascending */
  
  /* Descending sortable indicator */
  .table-sortable > thead > tr > th.desc:after {    
    border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    border-top: 5px solid #fff;
      border-bottom: 5px solid transparent;
  }
  /* !Descending */


  /* Heading styles */
  h2.page-header {
    margin-top: 0px;
    padding-top: 0px;
    line-height: 15px;
    vertical-align: middle;
  }
  h1 > .divider:before,
  h2 > .divider:before,
  h3 > .divider:before,
  h4 > .divider:before,
  h5 > .divider:before,
  h6 > .divider:before,
  .h1 > .divider:before,
  .h2 > .divider:before,
  .h3 > .divider:before,
  .h4 > .divider:before,
  .h5 > .divider:before,
  .h6 > .divider:before {
    color: #777;
    content: "\0223E\0020";
  }
  .table-sortable {
    .icon-cell{
      padding: 0rem;
      text-align: center;
    }
  }