//CSS Stepper

.btn-stepper {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    z-index: 1;
    background-color: #C9D5DB;
    color: $white;
    margin:0px auto;
}
.txt-stepper{
    font-size: 0.75rem;
}
.step-box-first {
    &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 0;
        height: 1px;
        background: #ccc;
        width: 50%;
    }
}

.step-box {
    &::before {
        content: '';
        position: absolute;
        top: 16px;
        left: 0;
        right: 0;
        height: 1px;
        background: #ccc;
    }
}

.step-box-last {
    &::before {
        content: '';
        position: absolute;
        top: 16px;
        left: 0;
        right: 0;
        height: 1px;
        background: #ccc;
        width: 50%;
    }
}